/* General container styling */
.app-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

h1 {
  text-align: center;
  color: #C8102E; /* Match Huddle House red */
}

/* Announcements Section */
.announcements-section {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.announcements-section h2 {
  color: #C8102E;
}

.announcements-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.announcements-section li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Schedule Section */
.schedule-section {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-section h2 {
  color: #C8102E;
}

.schedule-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Zoomed class for enlarging the image */
.zoomed {
  transform: scale(1.5); /* Zoom in on the image */
}

/* Responsive styling for App */
@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }
  
  .schedule-section, .announcements-section {
    padding: 15px;
  }

  .schedule-image {
    width: 100%;
  }
}
